* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;

}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.container-left {
    flex: 0 0 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-right {
    flex: 0 0 40%;
    background: rgba(93, 93, 125, 0.16);
}

img {
    position: relative;
    top: 25%;
    right: 130px;
    
}
